**Predictive Lead Scoring**

# import useful libraries and Load the data

In [3]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path

In [4]:
sys.path.append("..")
data_dir = Path('../data/') 
modules_dir = Path('../modules/')

> The dataset: https://www.kaggle.com/arashnic/banking-loan-prediction

**The content of the dataset**
- ID : Unique Customer ID
- Gender : Gender of the applicant
- DOB : Date of Birth of the applicant
- LeadCreationDate : Date on which Lead was created
- City_Code : Anonymised Code for the City
- City_Category: Anonymised City Feature
- Employer_Code: Anonymised Code for the Employer
- Employer_Category1 : Anonymised Employer Feature
- Employer_Category2: Anonymised Employer Feature
- Monthly_Income : Monthly Income in Dollars
- CustomerExistingPrimaryBankCode : Anonymised Customer Bank Code
- PrimaryBankType: Anonymised Bank Feature
- Contacted: Contact Verified (Y/N)
- Source : Categorical Variable representing source of lead
- Source_Category: Type of Source
- Existing_EMI : EMI of Existing Loans in Dollars
- Loan_Amount: Loan Amount Requested
- Loan_Period: Loan Period (Years)
- Interest_Rate: Interest Rate of Submitted Loan Amount
- EMI: EMI of Requested Loan Amount in dollars
- Var1: Anonymized Categorical variable with multiple levels
- Approved: (Target) Whether a loan is Approved or not (1-0) . Customer is Qualified Lead or not (1-0)

In [3]:
train = pd.read_csv(data_dir/'train.csv')

In [4]:
test = pd.read_csv(data_dir/'test.csv')

# Data Wrangling

## Data exploring

**samples**

In [5]:
train.sample(3)

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,...,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
29262,APPD50468975718,Male,21/05/88,11/08/16,C10001,A,COM0052940,A,4.0,2830.0,...,Y,S133,B,250.0,30000.0,5.0,NaN,NaN,7,0
6154,APPN50123274325,Female,28/03/85,10/07/16,C10016,B,COM0018282,A,4.0,3500.0,...,Y,S133,C,0.0,54000.0,5.0,NaN,NaN,7,0
13069,APPG90318041042,Female,23/06/79,19/07/16,C10004,A,COM0056280,B,4.0,5800.0,...,Y,S137,B,0.0,100000.0,5.0,20.0,2649.0,10,0

In [6]:
test.sample(3)

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,...,Primary_Bank_Type,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1
15270,APPI70574607212,Female,29/07/88,06/08/16,C10002,A,COM0011496,A,4.0,3600.0,...,P,N,S159,B,0.0,NaN,NaN,NaN,NaN,7
18991,APPM70614174235,Female,17/06/83,22/08/16,C10176,C,COM0030477,A,4.0,900.0,...,G,N,S159,B,300.0,NaN,NaN,NaN,NaN,0
6805,APPC80918163222,Male,31/01/91,01/07/16,C10003,A,COM0000021,A,1.0,3000.0,...,G,Y,S143,F,0.0,45000.0,5.0,15.5,1082.0,4

**target and features**

- Our target is the column **Approved** from the train table: it consists of 0 if the loan default exist and the loan is not approved and 1 if not.
- The remaining columns 21 will be considered as features and after a statistical analysis we will selected only the best ones.

**size and shape**

In [7]:
train.shape

(69713, 22)

In [8]:
test.shape

(30037, 21)

> Let us perform all our operation on train data and create a modular code for the test dataset and futures tests

**missing values and types of columns**

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69713 entries, 0 to 69712
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  object
 3   Lead_Creation_Date                   69713 non-null  object
 4   City_Code                            68899 non-null  object
 5   City_Category                        68899 non-null  object
 6   Employer_Code                        65695 non-null  object
 7   Employer_Category1                   65695 non-null  object
 8   Employer_Category2                   65415 non-null  float64
 9   Monthly_Income                       69713 non-null  float64
 10  Customer_Existing_Primary_Bank_Code  60322 non-null  object
 11  Primary_Bank_Type                    60322 non-null  object
 12  Contacted                            69713 non-null  object
 13  Source                               69713 non-null  object
 14  Source_Category                      69713 non-null  object
 15  Existing_EMI                         69662 non-null  float64
 16  Loan_Amount                          42004 non-null  float64
 17  Loan_Period                          42004 non-null  float64
 18  Interest_Rate                        22276 non-null  float64
 19  EMI                                  22276 non-null  float64
 20  Var1                                 69713 non-null  int64
 21  Approved                             69713 non-null  int64
dtypes: float64(7), int64(2), object(13)
memory usage: 11.7+ MB

> This helps us understand the data columns: 22
>- the DOB and Lead_creation_date are in wrong format : they should be datetime
>- Multiple columns have null values even if we are lucky to have all our target.

**number of unique values**

In [10]:
train.nunique().sort_values()

Approved                                   2
Gender                                     2
Contacted                                  2
Primary_Bank_Type                          2
City_Category                              3
Employer_Category1                         3
Employer_Category2                         4
Var1                                       5
Loan_Period                                6
Source_Category                            7
Source                                    29
Customer_Existing_Primary_Bank_Code       57
Interest_Rate                             72
Lead_Creation_Date                        92
Loan_Amount                              196
City_Code                                678
EMI                                     2179
Existing_EMI                            3245
Monthly_Income                          5010
DOB                                    10759
Employer_Code                          36617
ID                                     69713
dtype: int64

> We can observe that almost all variable are Categorical because they have less unique values

## Data Cleaning

**mistype**

In [11]:
# Changing DOB and lead creation date to the appropriate type
def handle_datetime(data):
    data.DOB = data.DOB.astype('datetime64')
    data.Lead_Creation_Date = data.Lead_Creation_Date.astype('datetime64')
    return data

In [12]:
clean_train = handle_datetime(train)

> we could have parsed those columns to datetime while reading with pandas.

**missing values**

In [13]:
pd.concat([train.isnull().sum().sort_values(),train.isnull().sum().sort_values()/train.shape[0]], axis=1)\
                        .rename(columns={0:'count', 1:'percentage'})

                                     count  percentage
ID                                       0    0.000000
Source_Category                          0    0.000000
Source                                   0    0.000000
Contacted                                0    0.000000
Var1                                     0    0.000000
Monthly_Income                           0    0.000000
Approved                                 0    0.000000
Lead_Creation_Date                       0    0.000000
Gender                                   0    0.000000
DOB                                     15    0.000215
Existing_EMI                            51    0.000732
City_Category                          814    0.011676
City_Code                              814    0.011676
Employer_Category1                    4018    0.057636
Employer_Code                         4018    0.057636
Employer_Category2                    4298    0.061653
Primary_Bank_Type                     9391    0.134709
Customer_Existing_Primary_Bank_Code   9391    0.134709
Loan_Amount                          27709    0.397472
Loan_Period                          27709    0.397472
Interest_Rate                        47437    0.680461
EMI                                  47437    0.680461

train.Existing_EMI

Our first strategy is to keep all the observation.
- For the missing date of birth we will first convert the date to age and then use the median to replace the null value.
- Since most of those columns are categorical, we will create a category "unknown" where the value is missing.
- For numerical columns ( Loan Amount, load period, interest rate, existing EMI and EMI ) , we will use different approach. We will assume that if there is no load amount/ period then it is 0 there and the client doesn't have any loan

In [19]:
from datetime import date

def handle_missing_val(data):
    #categorical
    
    # First let us create age columns instead of DOB so that we can replace by median
    data['age'] = data.DOB.apply(lambda x : date.today().year - x.year)
    # drop the DOB columns
    data = data.drop(columns='DOB')
    # Replacing the missing age with median
    data['age'] = data.age.fillna(data.age.median())
    
    # Replacing the other cat value with "unknown"
    cols_cat = ['City_Category', 'City_Code', 'Employer_Category1',
          'Employer_Code', 'Employer_Category2', 'Primary_Bank_Type',
          'Customer_Existing_Primary_Bank_Code']
    data[cols_cat] = data[cols_cat].fillna("unknown")
    
    # Now handle the num cols
    cols_num = ['Existing_EMI', 'Loan_Amount', 'Loan_Period', 'Interest_Rate', 'EMI']
    data[cols_num] = data[cols_num].fillna(0)
    
    return data

In [20]:
clean_train = handle_missing_val(clean_train)

In [21]:
clean_train.isnull().sum()

ID                                     0
Gender                                 0
Lead_Creation_Date                     0
City_Code                              0
City_Category                          0
Employer_Code                          0
Employer_Category1                     0
Employer_Category2                     0
Monthly_Income                         0
Customer_Existing_Primary_Bank_Code    0
Primary_Bank_Type                      0
Contacted                              0
Source                                 0
Source_Category                        0
Existing_EMI                           0
Loan_Amount                            0
Loan_Period                            0
Interest_Rate                          0
EMI                                    0
Var1                                   0
Approved                               0
age                                    0
dtype: int64

In [24]:
# save the data
clean_train.to_csv(data_dir/'clean_train.csv', index=False)

# EDA

## Feature distributions

**Histograms of the categorical features:**

If you need to install the Seaborn library: ```pip install seaborn```

**Histograms of the numerical features:**

## Target distribution

## Relations : Features multicollinearity, relation between target and features